/* attackDisplay/attackDisplay.css */
.attack-display {
    position: fixed;
    top: 50%;
    left: 75%;
    font-size: 3em;
    color: red;
    opacity: 1;
  }
  
  .attack-animation {
    animation: dmg 0.5s forwards;
  }
  
  @keyframes dmg {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 1;
      }
    100% {
      transform: translate(0%, 100%) scale(1.2);
    }
  } 
  