/* damageDisplay/damageDisplay.css */
.damage-display {
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: red;
    opacity: 0;
  }
  
  .damage-animation {
    animation: popAndMove 2s forwards;
  }
  
  @keyframes popAndMove {
    0% {
      opacity: 0;
    }
    20% {
        opacity: 1;
      }
    50% {
      transform: translate(50%, 0%) scale(1.2);
    }
    100% {
        transform: translate(-50%, 0%) scale(1.2);
      }
  } 
  