.fight{
    height: 100vh;
    background-color: #32373B;
}

.HeaderFight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.containerFight{
    width: 100%;
}

.fightZone {
    display: flex;
    justify-content: center;
}
  
.playerZone {
    width: 33%;
    text-align: left;
    margin-right: 7em;

}
  
.monsterZone {
    width: 33%;
    text-align: right;
    margin-left: 7em;

}

.attack{
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnAttack {
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #ff0000; 
    color: white;
    font-size: 16px;
    cursor: pointer;
  }


  .messageBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(169, 23, 23, 0.8);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    animation: fadeInOut 3s ease;
    animation-fill-mode: forwards;
  }

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.imgStarterFight {
    width: 50vh;
    height: 50vh;
}

.imgMonster {
    width: 50vh;
    height: 50vh;
}

.moveAnimation {
    animation-name: moveLeftAndBack;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes moveLeftAndBack {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-80px);
    }
    85% {
        transform: translateX(30px);
      }
    100% {
      transform: translateX(0);
    }
  }

.leaveFight {
    background-color: #32373B;
    border: none;

}

.imgSetting {
    width: 50px;
    height: 50px;
}

