.leave-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.leave-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.leave-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

.continue-btn,.stop-btn{
    width: 14em;
    height: 4em;
    color: #fff;
    border: none;
    border-radius: 1em; 
    margin: 1em;
    cursor: pointer;
}

.continue-btn{
    background-color: #F4B860;
}

.stop-btn{
    background-color: #9B1D20;
}
.title{
    display: block;
    font-size: 4em;
    color: #9B1D20;
    font-weight: bold;
}
.subtitle{
    color: #fff;
    font-size: 1.5em;
}
  